@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.125rem;
}


@keyframes loadingPage {

  0% {
    opacity: 0%;
  }

  60% {
    opacity: 75%;
  }


  100% {
    opacity: 100%;
  }
}


a {
  text-decoration: none;
}

body,.App {
  overflow-x: hidden;
 }


:root {
  --Red: hsl(0, 100%, 68%);
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
}

.bg {
  background-color: var(--Light-Grayish-Blue);
  border-radius: 0px 10px 0px 79px;
  width: 60%;
  height: 55%;
  position: absolute;
  top: 0;
  right: 0;
}

body {
  font-family: 'Barlow', sans-serif;
}

.navbar-Container, section {
  animation: loadingPage 2.5s ease-in;
}


li a {
  color: var(--Very-Dark-Blue);
}

li a:active:hover {
  text-decoration: underline;
  color: var(--Red);
}

li,
a,
button,
h1 {
  font-family: 'Barlow Condensed', sans-serif;
}

li,
a,
h1 {
  font-weight: 700;
}

h1 {
  font-size: 2.4em;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.gray {
  color: var(--Grayish-Blue);
}

button {
  position: relative;
  border: none;
  outline: none;
}

ul {
  list-style: none;
  text-align: center;
}

.navbar-Container {
  display: flex;
  justify-content: space-between;
  margin: 1.3em 1em;
}

.navbar-toggle {
  position: absolute;
  content: ' ';
  top: 17%;
  max-width: 100%;
}

.navbar-toggle.active {
  display: none;
  visibility: hidden;
}

.navbar-toggle.invisible {
  display: flex;
}

.navbar-toggle>ul {
  width: 330px;
  height: 250px;
  padding: 10px;
  background-color: #fff;
  box-shadow: -9px 9px 23px 9px rgba(184,173,173,0.29) ;
  position: relative;
  left: 15%;
  z-index: 1000000000000;
}

li {
  padding: 4% 0;
  letter-spacing: 1px;
  margin: 2% 0;
  text-transform: uppercase;
}

.login {
  opacity: 0.5;
}

.Line-Ative {
  width: 100%;
  height: 1px;
  background-color: gray;
}

.bubble {
  display: none;
}


.load-Img {
  position: relative;
  top: 5%;
  right: -27%;
  max-width: 100%;
  z-index: 1555;
}


section {
  display: flex;
  flex-direction: column;
  flex-shrink: 5;
  position: relative;
  top: 0;
}

section .header {
  margin: 7rem 2rem;
}


.header .new {
  display: flex;
  margin-bottom: 1rem;
}

.new .new-bubble>span {
  margin-right: 2rem;
  color: #fff;
  background-color: var(--Very-Dark-Blue);
  padding: 0.5rem;
  border-radius: 25px;
  font-size: 0.7rem;
  font-weight: 700;
}


.upper {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.7em;
}

.main-zone>p {
  width: 75%;
  padding-bottom: 0.7em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 4;
  margin: 2rem 0 0 0;
}

.row>.btn+.btn {
  margin: 0 1rem 0 1em;
}

.red-btn {
  background-color: var(--Red);
}

.red-btn:hover {
  background-color: #f27474;
}

.noColor-btn {
  background-color: transparent;
}

.btn {
  padding: 1rem;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  color:var(--Dark-Grayish-Blue);
  letter-spacing: 2px;
}

