@media (min-width: 778px) {
    body,.App {
      overflow: hidden;
     }
  
  
    .navbar-Container {
      display: flex;
    }
  
    .navbar-toggle,
    .toogle-display {
      display: none;
    }
  
    .navbar-Container {
      margin: 3.5% 10%;
    }
  
    .navbar-Container>ul {
      margin-right: 5%;
      background-color: transparent;
    }
  
    
  
    .navbar-toggle {
      position: relative;
      content: ' ';
      top: 0%;
  
    }
  
  
    ul {
      text-align: left;
      display: flex;
    }
  
    .Line-Ative {
      display: none;
    }
  
    .bubble {
      display: flex;
      position: relative;
      top: -4rem;
      font-size: 5rem;
      color: gray;
      opacity: 0.5;
    }
  
    .navbar-toggle>ul {
      background-color: transparent;
      box-shadow: -9px 9px 23px 9px transparent;
      z-index: 122;
      margin-left: -15%;
    }
  
    li {
      padding: 4% 0;
      margin: -1.5% 4%;
    }
  
  
    .load-Img {
      top: 3rem;
      right: -22.7%;
      max-width: 100%;
      transform: scale(1.2);
    }
  
    
  
  
    .navbar-toggle.active,
    .navbar-toggle.invisible {
      display: flex;
      visibility: visible;
    }
  
    section {
      flex-direction: row-reverse;
      top: -10rem;
    }
  
    section .header {
      margin: 2rem 7rem;
    }
  
  
    h1 {
      width: 80%;
    }
  
  
  }