
@media (min-width: 1440px) {

    .App > .main-container  {
     overflow: hidden !important;
    }

    .row {
      margin: 4rem 0 0 0;
    }
    
   
    
   .bg {
     width: 50%;
   }
   
   
   .main-container {
       position: absolute;
       left: -150px ;
     }
   
   
     section {
       justify-content: space-evenly;
     }
   
     .navbar-toggle>ul {
       margin-left: 0;
       margin-right:3.5rem;
     }
   
     ul > li a {
       font-size: 0.9em;
     }
   
     li {
       padding: 4% 0;
       margin: -1.5% 7%;
     }
   
    section .header {
     margin: 2rem 1rem 5rem 10rem;
     position: relative;
     left: 5rem;
   }
     .load-Img {
       position: relative;
       top: 10%;
       right: 0;
       left:9.7rem;
      transform: scale(1.2);
     }
     
     .bg {
       width: 47%;
       height: 45%;
       position: absolute;
       top: 0;
       right: 0 ;
     }
   
     h1 {
       font-size: 3em;
       width: 70%;
     }
   
     #limete {
       width: 50%;
     }
   
     .navbar-Container {
       margin: 3.5% 17%;
     }
   
   
     /* 
      terminar de reparar todos os bugs do projeto
     */
   
   }
   